@model iloveyou.Models.lylich
@{
    Layout = null;
    List<iloveyou.Models.lop> dsLop = ViewBag.DSLop as List<iloveyou.Models.lop>;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>FormThemHocvien</title>
</head>
<body>
    <div class="container">
        <p>
            <a href="@Url.Content("/Home/Index")" class="btn btn-primary">Trở về</a>
        </p>
        <form action="@Url.Content("/Home/ThemHocvien")" method="post">
            <div class="form-group">
                <label for="mshv">Mã số học viên</label>
                <input type="text" name="mshv" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label for="tenhv">Tên học viên</label>
                <input type="text" name="tenhv" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label for="ngaysinh">Ngày sinh</label>>
                <input type="date" name="ngaysinh" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label for="mshv">Phái</label>
                <br />
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" name="phai" value="true" /> Nam
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" name="phai" value="false" checked="checked" /> Nữ
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="malop">Mã lớp</label>
                <select name="malop" class="form-group">
                    @foreach (var item in dsLop)
                    {
                        <option>
                            @item.malop
                        </option>
                    }
                </select>
            </div>
            <p>
                <input type="submit" name="name" value="Thêm học viên" class="btn btn-primary" />
            </p>
        </form>
    </div>
</body>
</html>
